.m-skills {
    > ul {
        columns: 3;
        @include respond-to("small") {
            columns: 1;
        }
        @media print {
            columns: 3;
        }
        li {
            margin: auto;
        }
    }
}
