@use "../../02-tools/functions";

.t-resume-layout {
    > .o-header {
        padding: 16px 40px;
    }
    &__section {
        padding: 12px 40px;
        > h2 {
            border-bottom: 1px solid functions.get-color-text("dark");
        }

        > .m-objectives {
            padding: 0 30px;
        }
        > .m-skills {
            padding: 0 30px;
        }
        > .o-experience-section {
            margin: 0 0 40px 0;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
