.o-education-section {
  @include margin(auto auto 24px auto);
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  @include respond-to("small") {
    display: block;
  }
  > .m-degree {
    flex-direction: column;
  }
}
