.o-header {
  border-bottom: 8px solid get-color-primary("e-e-blue");
  display: flex;
  background-color: get-color-background("secondary");
  &__left {
    width: 50%;
  }
  &__right {
    font-size: 16px;
    flex: 1;
    ul {
      list-style: none;
    }
  }
}
