.o-header {
    border-bottom: 8px solid get-color-primary("e-e-blue");
    display: flex;
    flex-wrap: wrap;
    background-color: get-color-background("secondary");

    @include respond-to("small") {
        display: block;
    }
    @media print {
        display: flex;
    }

    &__left {
        width: 60%;
        @include respond-to("small") {
            width: 100%;
        }
        @media print {
            width: 60%;
        }
    }
    &__right {
        font-size: 16px;
        width: 40%;
        ul {
            list-style: none;
        }
    }
    &__full {
        width: 100%;
    }
}
