.o-header {
  border-bottom: 8px solid get-color-primary("e-e-blue");
  display: flex;
  background-color: get-color-background("secondary");

  @include respond-to("small") {
    display: block;
  }
  @media print {
    display: flex;
  }

  &__left {
    width: 50%;
    @include respond-to("small") {
      width: 100%;
    }
    @media print {
      width: 50%;
    }
  }
  &__right {
    font-size: 16px;
    flex: 1;
    ul {
      list-style: none;
    }
  }
}
